@model IEnumerable<ShoesVariant>

@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>ShoeVariant</h1>

<p>
    <a asp-action="Create" asp-route-idShoe="@ViewBag.IdShoe">Create ShoeVariant</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                số lượng
            </th>
            <th>
                Mô tả sản phẩm
            </th>
            <th>
                Màu
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Size
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Ngày cập nhật
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ColorNavigation.ColorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SizeNavigation.Status)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedAt)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (pager.TotalPages > 0)
{
    <ul class="pagination justify-content-end">
        @if (pager.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-idShoe="@ViewBag.IdShoe" asp-route-page="1">First</a>
            </li>

            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-idShoe="@ViewBag.IdShoe" asp-route-page="@(pager.CurrentPage - 1)">Previous</a>
            </li>
        }
        @for (int pge = pager.StartPage; pge <= pager.EndPage; pge++)
        {
            <li class="page-item @(pge == pager.CurrentPage ? " active":"")">
                <a class="page-link" asp-action="Index" asp-route-idShoe="@ViewBag.IdShoe" asp-route-page="@pge">@pge</a>
            </li>
        }
        @if (pager.CurrentPage < pager.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-idShoe="@ViewBag.IdShoe" asp-route-page="@(pager.CurrentPage + 1)">Next</a>
            </li>

            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-idShoe="@ViewBag.IdShoe" asp-route-page="@(pager.TotalPages)">Last</a>
            </li>
        }
    </ul>
}
