@model IEnumerable<GUI.Models.VoucherBank>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <input id="TrangHienTai" type="number" value="@ViewBag.TrangHT" hidden/>
    <input id="DongMoiTrang" type="number" value="@ViewBag.DongMoiTrang" hidden/>
    <input type="text" class="form-control" value="@ViewBag.Search" id="searchBar" style="max-width:30%;"/>
    <a class="searchFunc" asp-action="Index" asp-route-page="1" asp-route-rowPerPage="5" asp-route-key="@ViewBag.Search">Search</a>
</p>
<table class="table">
    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>*@
           @* <th>
                @Html.DisplayNameFor(model => model.ModifiedAt)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Status)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher)
            </th>
            <th></th>
        </tr>
    </thead>*@
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Số lượng voucher của mỗi khách hàng
            </th>
            <th>
                Tên đăng nhập
            </th>
            <th>
                Tên voucher
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoucherName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (ViewBag.Page == 1)
{
    <a class="searchFunc" asp-action="Index" asp-route-page="@(ViewBag.Page)" asp-route-rowPerPage="5" asp-route-key="@ViewBag.Search">Prev</a>
    
    <a class="searchFunc" asp-action="Index" asp-route-page="@(ViewBag.Page + 1)" asp-route-rowPerPage="5" asp-route-key="@ViewBag.Search">Next</a>
}
else if (ViewBag.Page == ViewBag.totalPage)
{
    <a class="searchFunc" asp-action="Index" asp-route-page="@(ViewBag.Page - 1)" asp-route-rowPerPage="5" asp-route-key="@ViewBag.Search">Prev</a>
    
    <a class="searchFunc" asp-action="Index" asp-route-page="@(ViewBag.Page)" asp-route-rowPerPage="5" asp-route-key="@ViewBag.Search">Next</a>
}
else
{
    <a class="searchFunc" asp-action="Index" asp-route-page="@(ViewBag.Page - 1)" asp-route-rowPerPage="5" asp-route-key="@ViewBag.Search" disabled>Prev</a>
    <a class="searchFunc" asp-action="Index" asp-route-page="@(ViewBag.Page + 1)" asp-route-rowPerPage="5" asp-route-key="@ViewBag.Search" disabled>Next</a>
}
<p>@ViewBag.Page / @ViewBag.totalPage</p>