@model GUI.Models.Shoe

@{
    ViewData["Title"] = "Details";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    var listShoeVariant = ViewData["listShoesVariant"] as IEnumerable<GUI.Models.ShoesVariant>;
}

<h1>Details</h1>

<div>
    <h4>Shoe</h4>
    <hr />
    <p>
        <a asp-action="Create" asp-controller="ShoeVariant" asp-route-idShoe="@ViewBag.IdShoe">Tạo mới chi tiết sản phẩm</a>
    </p>
    <dl class="row">
        <dt class="col-sm-2">
            Tên sản phẩm
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            Giá bán
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisplayPrice)
        </dd>
        <dt class="col-sm-2">
            Sản phẩm hot
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsHotProduct != null && Model.IsHotProduct.Value)
            {
                <p>Có</p>
            }
            else
            {
                <p>Không</p>
            }
        </dd>
        <dt class="col-sm-2">
            Tên Thương Hiệu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrandGroupNavigation.BrandName)
        </dd>
        <dt class="col-sm-2">
            Tên tính năng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeatureNavigation.FeatureName)
        </dd>
        <dt class="col-sm-2">
            Tên phong cách
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StyleGroupNavigation.StyleName)
        </dd>
        <dt class="col-sm-2">
            Ngày tạo sản phẩm
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            Ngày cập nhật sản phẩm
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedAt)
        </dd>
        @if (Model.DisplayImage.HasValue)
        {
            <dt class="col-sm-2">
                Hình ảnh
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DisplayImage)
            </dd>
        }
    </dl>

    <table class="table">
        <thead>
            <tr>
                <th>
                    số lượng
                </th>
                <th>
                    Miêu tả sản phẩm
                </th>
                <th>
                    Màu
                </th>
                <th>
                    Tên sản phẩm
                </th>
                <th>
                    Size
                </th>
                <th>
                    Ngày tạo
                </th>
                <th>
                    Ngày cập nhật
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listShoeVariant)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ColorNavigation.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SizeNavigation.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedAt)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="ShoeVariant" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-controller="ShoeVariant" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-controller="ShoeVariant" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-idShoe="@ViewBag.IdShoe" asp-route-page="1">First</a>
                </li>

                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-idShoe="@ViewBag.IdShoe" asp-route-page="@(pager.CurrentPage - 1)">Previous</a>
                </li>
            }
            @for (int pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? " active":"")">
                    <a class="page-link" asp-action="Index" asp-route-idShoe="@ViewBag.IdShoe" asp-route-page="@pge">@pge</a>
                </li>
            }
            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-idShoe="@ViewBag.IdShoe" asp-route-page="@(pager.CurrentPage + 1)">Next</a>
                </li>

                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-idShoe="@ViewBag.IdShoe" asp-route-page="@(pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
