@model IEnumerable<GUI.Models.Voucher>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <input id="TrangHienTai" type="number" value="@ViewBag.TrangHT" hidden/>
    <input id="DongMoiTrang" type="number" value="@ViewBag.DongMoiTrang" hidden/>
    <input type="text" class="form-control" value="@ViewBag.Search" id="searchBar" style="max-width:30%;"/>
    <a class="searchFunc" asp-action="Index" asp-route-page="1" asp-route-rowPerPage="5" asp-route-key="@ViewBag.Search">Search</a>
</p>
<table class="table table-striped table-hover">
  <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Tên voucher
            </th>
            <th>
                Loại đơn vị giảm
            </th>
            <th>
                Giá trị voucher
            </th>
            <th>
                Giá trị tối đa voucher
            </th>
            <th>
                Mã voucher áp dụng
            </th>
            <th>
                Số lần dùng của mỗi khách hàng
            </th>
            @*<th>
                Số lần dùng trong chương trình
            </th>*@
            <th>
                Ngày bắt đầu
            </th>
            <th>
                Ngày kết thúc
            </th>
            <th>
                Giá trị tối thiểu của đơn hàng
            </th>
            <th>
                Trạng thái Voucher
            </th>
            <th></th>
        </tr>
    </thead>
   @*</table>
<table class="table">*@
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoucherContent)
            </td>
            <td>
                @(item.DiscountType == 1 ? "%" : "VND" )
            </td>
            <td>
                @(String.Format( "{0:#,##0.##}", item.DiscountValue ).ToString() + (item.DiscountType == 1 ? " %" : " VND" ))
            </td>
            <td>
                @(String.Format( "{0:#,##0.##}", item.DiscountMaxValue ).ToString() + (item.DiscountType == 1 ? " VND" : "" ))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoucherCode)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UsePerPerson)
            </td>
            @*td>
                @Html.DisplayNameFor(model => model.UseLimit)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedAt)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @(String.Format( "{0:#,##0.##}", item.RequriedValue ).ToString() + " VND")
            </td>
            <td>
               @(item.StatusVoucher == 0 ? "Không hoạt động" : item.EndDate <  DateTime.Now ? "Không hoạt động" : "Hoạt động")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>|
                <a asp-action="CountTotal">Test</a>
            </td>
        </tr>
}
    </tbody>
</table>


@if (ViewBag.Page == 1)
{
    <a class="searchFunc" asp-action="Index" asp-route-page="@(ViewBag.Page)" asp-route-rowPerPage="5" asp-route-key="@ViewBag.Search">Prev</a>
    
    <a class="searchFunc" asp-action="Index" asp-route-page="@(ViewBag.Page + 1)" asp-route-rowPerPage="5" asp-route-key="@ViewBag.Search">Next</a>
}
else if (ViewBag.Page == ViewBag.totalPage)
{
    <a class="searchFunc" asp-action="Index" asp-route-page="@(ViewBag.Page - 1)" asp-route-rowPerPage="5" asp-route-key="@ViewBag.Search">Prev</a>
    
    <a class="searchFunc" asp-action="Index" asp-route-page="@(ViewBag.Page)" asp-route-rowPerPage="5" asp-route-key="@ViewBag.Search">Next</a>
}
else
{
    <a class="searchFunc" asp-action="Index" asp-route-page="@(ViewBag.Page - 1)" asp-route-rowPerPage="5" asp-route-key="@ViewBag.Search" disabled>Prev</a>
    <a class="searchFunc" asp-action="Index" asp-route-page="@(ViewBag.Page + 1)" asp-route-rowPerPage="5" asp-route-key="@ViewBag.Search" disabled>Next</a>
}
<p>@ViewBag.Page / @ViewBag.totalPage</p>
@*@if (ViewBag.Tongtrang == ViewBag.TrangHT)
{
    <a class="searchFunc" asp-action="Index" asp-route-page="@(ViewBag.TrangHT)" asp-route-rowPerPage="5" asp-route-key="@ViewBag.Search" disabled>Next</a>
} else
{
    <a class="searchFunc" asp-action="Index" asp-route-page="@(ViewBag.TrangHT+1)" asp-route-rowPerPage="5" asp-route-key="@ViewBag.Search">Next</a>
}*@
